*{
  margin: 0px;
  padding: 0px;
}
/*Top TITLE + PRICE ---- START ----*/
.title-plus-location{
  width: 80%;
}
.top-pricing{
  margin: 0;
  padding: 0;
  width: 20%;
}
.total-price{
  text-align: right;
}
.price-m2{
  text-align: right;
}
/*Top TITLE + PRICE ---- END ----*/
/*#######################################*/
/*#######################################*/
/*Content-INFO ---- START ----*/
.carousel-box{
  height: 500px;
}
.contact-box{
  height: 600px;
}

/*Carousel*/

.carousel-item img{
  width: 100%;
}



/*Content-INFO ---- START ----*/